body{
    background: #04002c;
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    color: aliceblue;
    text-align: center;
}
a{
    color: aliceblue;
    text-decoration: underline;
}
button{
    padding: 10px 20px;
    background-color: rgb(9, 0, 94);
    color: aliceblue;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: rgb(4, 94, 173);
}
.menu{
    background-color: #002e91;
    padding: 10px;
    text-align: center;
}
.menu a{
    color: aliceblue;
    margin: 0 15px;
    text-decoration: none;
}
.menu a:hover{
    text-decoration: underline;
}
p{
    color: aliceblue;
}
main{
    padding: 20px;
    text-align: center;
}
.galeria{
    max-width: 80%;
    height: auto;
    border: 2px solid #ccc;
}
.login-container input,form input,form textarea{
    width: 30%;
    padding: 10px;
    margin-bottom: 15px;
}
.login-container{
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background-color: aliceblue     ;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);
}